<!-- VERSION CON ANGULAR 17
 ******
 Diferencias y ventajas

@if / @else → reemplaza a *ngIf/else (más claro y legible).

@for → reemplaza a *ngFor (más performante y con track).

No es necesario declarar standalone: true. Angular 20 lo asume por defecto.

Usamos signal correctamente (title() en template).

******
<div *ngIf="visible; else notEnable">
    <h2> {{title()}} </h2>
  </div>
  <button (click)="setVisible()">
    Mostrar
  </button>
<div *ngIf="visible">
<table *ngIf ="(users != undefined && users.length > 0)" else isEmpty>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i">
      <td>{{i+1}}</td>
      <td>{{user}}</td>
    </tr>
  </tbody>
</table>
<ng-template #isEmpty>
  <div>No existe registro en el sistema</div>
</ng-template>
</div>
<ng-template #notEnable>
  <h2>Lo sentimos no esta disponible la pagina!@</h2>
</ng-template>
-->

@if (visible) {
  <h2>{{ title() }}</h2>
} @else {
  <h2>Lo sentimos no esta disponible la pagina!</h2>
}

<button (click)="setVisible()">
  {{visible? 'Ocultar': 'Mostrar'}}
</button>

@if (visible) {
  @if (users && users.length > 0) {
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ user }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No existe registro en el sistema</p>
  }
}@else {
<h2>Lo sentimos no esta disponible la pagina!</h2>
}

<app-counter [title]="subTitle"></app-counter>


